<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/" method="post">
    <input type="text" name="age" placeholder="age">
<!--    <input type="text" name="sex" placeholder="sex">-->
    <div>
        <input type="radio" name="sex" value="male"> Male<br>
        <input type="radio" name="sex" value="female"> Female<br>
    </div>
    <input type="text" name="bmi" placeholder="bmi">
    <input type="text" name="children" placeholder="children">
<!--    <input type="text" name="smoker" placeholder="smoker">-->
    <div>
    <label>Are you Smoker ?</label>
    <p>
    <input type="radio" name="smoker" value="Yes">Yes</input>
    </p>
    <p>
    <input type="radio" name="smoker" value="No">No</input>
    </p>
    </div>

<!--    <input type="text" name="region" placeholder="region">-->
    <div id="region">
        <label for="region">Choose a region:</label>
        <select name="region">
            <option  value="southeast" checked>southeast</option>
            <option  value="southwest">southwest</option>
            <option  value="northeast">northeast</option>
            <option  value="northwest">northwest</option>
        </select>
    </div>


<!--    <input type="text" name="test" placeholder="test Name">-->
    <input type="submit" value="Submit" ><br>
</form>
{{amey}}

</body>
</html>